.markerContainer {
    display: flex;
    position: relative;
}

.markerContainer span {
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
}

.growAnimation {
    z-index: 1;
    animation: grow 200ms ease-in-out forwards;
}

.reduceAnimation {
    animation: grow 200ms ease-in-out reverse backwards;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}