.resizeHandler {
  content: "";
  position: absolute;
  width: 100%;
  /* background-color: #d70d0d; */
  bottom: 0px;
  height: 4px;
  opacity: 0.7;
  z-index: 2;
  cursor: s-resize;
  transition: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.resizeHandler:hover {
  opacity: 1;
  background-color: #3a59744b;
}
