.planningSheets {
    background-color: var(--darkSecondaryBlue);
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 35px;
    z-index: 2;
}

.sheetContainer {
    display: flex;
    overflow-x: hidden;
    height: 100%;
}