.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: var(--totalHeight);
    justify-content: space-between;
    min-width: var(--hoursLabelWidth);
    border-right: 1px solid #dadce0;
    z-index: 1;
}

.hourLabel:first-child {
    visibility: hidden;
}

.hourLabel {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}