.container {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
}

.imageContainer {
    height: 170px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    background-color: black;
    transition: 300ms;
    position: relative;
    box-shadow: 0 0 6px 2px #00000091;
}

.imageContainer:hover {
    transform: scale(1.5);
    box-shadow: 0 0 15px 4px #00000091;
    z-index: 1;
}

.image {
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
}

.label {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}


.modalChild {
    height: min-content;
    width: min-content;
}

.fullScreenImg {
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
}

/* PDF style */

.pdfContainer {
    overflow: auto;
    height: 100vh;
    max-width: 100vw;
    width: min-content;
}

.pdfPage {
    width: min-content;
    margin-top: 10px;
    margin-bottom: 10px;
}