#root {
  height: 100vh;
}

@media screen and (min-width: 1301px) {
  * {
    font-size: 14px;
  }
}

@media screen and (max-width: 1300px) {
  * {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }
}

body {
  margin: 0;
  font-family: Garamond, serif;
  color: var(--primaryColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

.sidebar {
  min-width: 280px;
  width: 20%;
  max-width: 350px;
  box-shadow: 1px 0px 8px 0px #000000b8;

}