.sideDataContainer {
    width: var(--sideDataWidth);
    background-color: #414141;
    box-shadow: 1px 0px 8px 0px #000000b8;
}

.scrollContainer {
    margin-top: 0;
    transition: 200ms;
}

.subContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.showcaseSideData {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.593);
    border-radius: 5px;
}