.sideDataContainer {
    position: relative;
    min-width: 255px;
    width: 20%;
    max-width: 350px;
    background-color: #f8f8f8;
    box-shadow: 1px 0px 8px 0px #000000b8;
    z-index: 3;
}

.scrollContainer {
    margin-top: 0;
    transition: 200ms;
}

.subContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}