.homeContainer {
    background-color: var(--darkColor1);
    height: 100%;
    overflow: auto;
}

.homeHeader {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    animation: text-pop-up-top .6s cubic-bezier(.25, .46, .45, .94) .4s both, focus-in-contract .6s cubic-bezier(.25, .46, .45, .94) both;
    padding: 20px;
}


.title {
    font-size: 5rem;
    color: #d6b770;
    font-family: Merienda;
    white-space: nowrap;

}

@keyframes text-pop-up-top {
    0% {
        transform: translateY(20px);
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        transform: translateY(0px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #967935, 0 2px 0 #967935, 0 3px 0 #967935, 0 4px 0 #967935, 0 5px 0 #967935, 0 6px 0 #967935, 0 7px 0 #967935, 0 8px 0 #967935, 0 9px 0 #967935, 0 50px 30px rgb(0, 0, 0);
    }
}


@keyframes focus-in-contract {
    0% {
        letter-spacing: 5rem;
        filter: blur(12px);
        opacity: 0
    }

    100% {
        filter: blur(0);
        opacity: 1
    }
}