.container {
    position: absolute;
    bottom: 0;
    display: flex;
    width: calc(100% - var(--hoursLabelWidth));
    background-color: #0a48824c;
    backdrop-filter: blur(2px);
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 6px 0px #0000007b;
    transition: 300ms;
    margin-left: var(--hoursLabelWidth);
    height: var(--accomodationDropZoneHeight);
    z-index: 1;
}

.expand {
    background-color: aliceblue;
    height: var(--expandedAccomodationDropZoneHeight);
}

.hide {
    height: 0;
}