.container {
    position: absolute;
    bottom: 0;
    display: flex;
    width: calc(100% - var(--hoursLabelWidth));
    background-color: #0a48824c;
    height: var(--accomodationDropZoneHeight);
    backdrop-filter: blur(2px);
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 6px 0px #0000007b;
    transition: 300ms;
    margin-left: var(--hoursLabelWidth);
}

.container:hover {
    /* height: calc(var(--accomodationDropZoneHeight) + 20px); */
}