.daysHeader {
    display: flex;
    position: relative;
}

.settingsIcon {
    min-width: var(--hoursLabelWidth);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowButtonR, .arrowButtonL {
    height: 100%;
    width: 30px;
    transition: 300ms;
}

.arrowButtonR {
    right: 0;
}

.arrowButtonR:hover, .arrowButtonL:hover {
    background-color: #c8c8c860;
}