.calendarContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}


.gridContainer {
    background-color: #fff;
    display: flex;
    flex: 1;
    overflow: auto;
    padding-bottom: var(--accomodationDropZoneHeight);
}

.gridContainer::-webkit-scrollbar {
    display: none;
}

.relativeContainer {
    position: relative;
    display: flex;
    flex: 1;
    height: fit-content;
    overflow: hidden;
}

.dayContainer {
    height: var(--totalHeight);
}

.dayAccomodationDZ, .dayContainer {
    border-right: 1px solid #dadce0;
}

.hGridLine {
    position: absolute;
    border-bottom: 1px dashed #dadce0;
    width: 100%;
}

.arrowButtonR, .arrowButtonL {
    position: absolute;
    top: 15px;
}

.arrowButtonR {
    right: 10px;
}

.arrowButtonL {
    left: calc(var(--hoursLabelWidth) + 10px);
}