.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--goldenColor);
    padding: 8px 0px;
}

.dayNumber {
    font-size: 3rem;
}

.monthYear {
    font-size: 0.8rem;
}