.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(117, 182, 239, 0.472);
    height: var(--totalHeight);
    justify-content: space-between;
    width: var(--hoursLabelWidth);
}

.hourLabel:first-child {
    visibility: hidden;
}

.hourLabel {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}