.cardContainer {
    position: relative;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.839);
    border-radius: 5px;
    height: 12rem;
    width: 21rem;
    cursor: pointer;
    transition: 300ms;
    color: var(--defaultWhite);
    overflow: hidden;
    text-shadow: 0px 0px 8px black;
    transition: 300ms;
}

.deleteItem {
    opacity: 0.5;
    color: var(--primErrorColor);
    border: 2px dashed var(--primErrorColor);
}

.cardContainer:hover .editIcon, .cardContainer:hover .delete {
    opacity: 1;
}

.cardContainer:hover .cardBg {
    transform: scale(1.4);
    filter: brightness(1.1);
}

.content {
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    height: 90%;
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;

}

.editIcon, .delete {
    position: absolute;
    top: 6px;
    opacity: 0;
    transition: 300ms;
    z-index: 1;
}

.editIcon {
    right: 6px;
}

.delete {
    left: 6px;
}

.cardBg {
    position: absolute;
    object-fit: cover;
    transition: 300ms;
    filter: brightness(0.8);
}

.rippleEffect, .cardBg {
    height: 100%;
    width: 100%;
}