.hoursContainer {
    width: 500px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.hourContainer {
    height: 100px;
    width: 100%;
    background-color: blueviolet;
}