.calendarContainer {
    background-color: #fff;
    display: flex;
    flex: 1;
    overflow: auto;
}

.calendarContainer::-webkit-scrollbar {
    display: none;
}

.relativeContainer {
    position: relative;
    display: flex;
    flex: 1;
}

.dayContainer {
    height: var(--totalHeight);
    border-right: 1px solid #dadce0;
}

.hGridLine {
    position: absolute;
    border-bottom: 1px dashed #dadce0;
    width: 100%;
}