.draggableContainer {
  transition: 300ms;
  z-index: 10;
}

.showcase, .ghost {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms, top 200ms, left 200ms;
  width: 100%;
  height: 100%;
  background-color: var(--darkSecondaryBlue);
  color: white;
}

.ghost {
  opacity: 0.5;
  overflow: hidden;
}

@keyframes sideDataDisappearAnim {
  0% {
    margin-bottom: 0;
  }

  100% {
    height: 0;
    margin-bottom: -20px;
  }
}

@keyframes calendarDisappear {}

/* impotant to triger end drag at the end of animation */


@keyframes ghostDisappearAnim {
  0% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.2);
  }
}