.popupTransitionContent-enter {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
}

.popupTransitionContent-enter-active {
    transition: all 10000ms ease;
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
}

.popupTransitionContent-exit {
    transition: all 10000ms ease;
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
}

.popupTransitionContent-exit-active {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
}