.card {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.839);
    border-radius: 5px;
    height: 9rem;
    width: 15rem;
    cursor: pointer;
    transition: 300ms;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card:hover {
    transform: scale(1.2);
}

.iconStyle {
    color: var(--defaultWhite) !important;
}

.card:hover .iconStyle {
    background-color: #a4a0a0c9 !important
}