.cardContainer {
    position: relative;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.839);
    border-radius: 5px;
    height: 12rem;
    width: 21rem;
    cursor: pointer;
    transition: 300ms;
    color: var(--defaultWhite);
    overflow: hidden;
    text-shadow: 0px 0px 8px black;
}

/* .cardContainer:hover {
    transform: scale(1.2);
} */

.cardContainer:hover .editIcon {
    opacity: 1;
}

.cardContainer:hover .cardBg {
    transform: scale(1.4);
}

.content {
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    height: 90%;
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;

}

.editIcon {
    position: absolute;
    right: 6px;
    top: 6px;
    opacity: 0;
    transition: 300ms;
    z-index: 1;
}

.dragIndicator {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 6px;
    top: 6px;
    height: 20px;
    width: 20px;
    padding: 2px;
    border-radius: 100%;
    background-color: rgba(88, 88, 88, 0.255);
}

.cardBg {
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: 300ms;
}

.rippleEffect, .cardBg {
    height: 100%;
    width: 100%;
}