.timeLineContainer {
    display: flex;
    flex-direction: column;
    min-width: 255px;
    width: 20%;
    max-width: 350px;
    background-color: var(--darkColor1);
    box-shadow: 1px 0px 8px 0px #000000b8;
    z-index: 500;
    padding: 10px 0px;
    color: white;
    overflow: hidden;
}

.topToolContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.scrollContainer {
    flex: 1;
    overflow-y: scroll;
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}

.timeLineCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
}

.dayLabel {
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--goldenColor);
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    align-self: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid var(--darkColorc);
}

.linkContainer {
    height: 35px;
    width: 85%;
    z-index: -1;
}

.link {
    position: absolute;
    left: 17px;
    height: 100%;
    width: 2px;
    background: linear-gradient(#ffffff00, var(--darkColor6), var(--darkColorc));
}

.initialLine {
    position: relative;
    height: 0;
    width: 100%;
}

.finalLine {
    position: relative;
    width: 100%;
    height: 100%;
}