.cardContainer {
    --borderWidth: 3px;
    --width: 200px;
    --height: 50px;
    position: relative;
    background: var(--activitySecColor);
    height: var(--height);
    width: var(--width);
    font-weight: bold;
    color: var(--activitySecColor);
    border-radius: 5px;
    overflow: hidden;
}

.cardContainer::after {
    width: 100%;
    height: 100%;
    filter: blur(20px);
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
}

.cardContainer::before {
    content: '';
    left: -25px;
    top: -100px;
    height: calc(var(--width) + 50px);
    width: calc(var(--width) + 50px);
    position: absolute;
    /* background: conic-gradient(#fd004c,
            #fe9000,
            #fff020,
            #3edf4b,
            #3363ff,
            #b102b7,
            #fd004c); */

    background: conic-gradient(transparent, transparent, transparent, transparent, var(--activityColor));
    animation: spin 2s linear infinite;
}

.cardContainer span {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: var(--borderWidth);
    left: var(--borderWidth);
    height: calc(100% - var(--borderWidth) * 2);
    width: calc(100% - var(--borderWidth) * 2);
    background-color: var(--defaultWhite);
    border-radius: 3px;
    text-indent: 10px;
}


@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}