.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.iconContainer {
    height: 100%;
    background-color: var(--activityColor);
    display: flex;
    align-items: center;
    padding: 0px 3px;
}

.title {
    font-size: 1.1rem;
    text-transform: capitalize;
}