.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    color: #3b3b3b;
}

.iconContainer {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 3px;
}

.infoContainer {
    overflow-y: auto;
    overflow-x: hidden;
    transition: 300ms
}

.infoContainer::-webkit-scrollbar {
    display: none;
}

.title {
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: bold;
}

.textContainer {
    overflow: hidden;
    text-overflow: ellipsis
}

.deleteArtifact {
    opacity: 0;
}

.container:hover, .deleteArtifact {
    opacity: 1;
}