.container {
    display: flex;
    height: 100%;
    width: 100%;
    color: #3b3b3b;
    border-radius: 5px;
    overflow: hidden;
}

.iconContainer {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 3px;
}

.infoContainer {
    overflow-y: auto;
    overflow-x: hidden;
    transition: 300ms
}

.infoContainer::-webkit-scrollbar {
    display: none;
}

.titleContainer {
    overflow: hidden;
    display: flex;
    flex: 1;
}

.title {
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price {
    white-space: nowrap;
}

.textContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}

.textContainer span {
    text-overflow: ellipsis;
    overflow: hidden;
}

.container:hover .deleteArtifact {
    opacity: 1;
}