.container {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkColor3);
    height: 35px;
    z-index: 499;
    box-shadow: 0 0 16px 0 #00000070;
}

.planningSheets {
    display: flex;
    overflow: hidden;
    align-items: center;

}

.sheetContainer {
    display: flex;
    overflow-x: hidden;
    height: 100%;
}