.sheet {
  overflow: hidden;
  cursor: pointer;
  padding: 0px 10px;
  margin: 3px;
  transition: 300ms;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--darkColor2);
  border-radius: 5px;
  user-select: none;
}

.sheet:hover {
  background-color: var(--darkColor6);
}

.selectedSheet {
  background-color: #e4e7eb !important;
  color: var(--goldenColor);
}

.sheetName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  white-space: pre;
  z-index: -1;
  pointer-events: none;
}
