.tooltipContainer {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tooltipContainer>div {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.modalContainer {
    position: absolute;
    width: 40%;
    max-width: 400px;
    min-width: 200px;
    padding: 20px 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 0px #00000082;
}

.btContainer {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.endAdornment {
    color: var(--goldenColor);
    font-size: 1.2rem;
    padding: 0 10px;
}